<h1>Urejanje novice: <%= @news.title %></h1>
<div class="col-lg-12 col-md-12 col-sm-12 post-title-block">
		<%= render 'form', news: @news %>
	<p></p>
	<%= link_to 'Preberi veÄ', @news, class:'btn btn-sm btn-outline-secondary' %> |
	<%= link_to 'Nazaj', news_index_path, class:'btn btn-sm btn-outline-secondary' %>
</div>

